@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<MVCToDoList.Web.Models.Entities.TaskItem>

<h1>All Tasks</h1>
<h6>Hover over the tasks to see their descriptions</h6>

<table class="table">
    <thead>
        <tr>
            <th>GUID Id</th>
            <th>Title</th>
            <th>Due Date</th>
            <th>Is Completed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var taskItem in Model)
        {
            <tr>
                <td>@taskItem.Id</td>
                <td>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="@taskItem.Description">@taskItem.Title</span>
                </td>
                <td>@taskItem.DueDate</td>
                <td>@taskItem.IsCompleted</td>
                <td>
                    <a class="btn btn-primary" asp-controller="TaskItem" asp-action="Edit" asp-route-id="@taskItem.Id">Edit</a>
                    <a class="btn btn-success" asp-controller="TaskItem" asp-action="Complete" asp-route-id="@taskItem.Id">Comlpete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
